{% extends "base.html" %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <!--
	{% for item in sorted_array%}
	<p> {{ item }} </p>
	{% endfor %}
    -->

<section class="strips">
    <!--<form action="" method="post" novalidate>
        { form.hidden_tag() }}-->
    <article class="strips__strip">
        <div class="strip__content">
            <button class = "strip__close">
                <i class="fas fa-times fa-3x close-icon"></i>
            </button>
            <h1 class="strip__title" data-name="Lorem">All Tracks Playlist</h1>
            <div class="strip__inner-text">
                <h3>Create a playlist of all the tracks an artist has ever released on Spotify. </h3>
                <div class='login'>
                  <div class='login_fields'>
                    <div class='login_fields__submit'>
                        <form id = "all-tracks-form" class = "spotipy-form" action="" method="post" novalidate>
                            {{ all_tracks_form.hidden_tag() }}

                                {{ all_tracks_form.artist(size=50, placeholder="Artist Name") }}

                            {{ all_tracks_form.submit(id = "artist-submit", onclick = "submit_handler()") }}
                        </form>
                    </div>
              </div>
                </div>
                <div class='authent'>
                  <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/puff.svg'>
                  <p>Adding tracks...</p>
                </div>
                <p class="footer-note"><em>Note: Only tracks that were released as part of an album are considered for now. </em></p>
            </div>

        </div>
    </article>
    <article class="strips__strip">

        <div class="strip__content">
            <button class = "strip__close">
                <i class="fas fa-times fa-3x close-icon"></i>
            </button>
            <h1 class="strip__title" data-name="Dolor">Playlist by BPM</h1>
            <div class="strip__inner-text">
                  <p>Need your music to match your jogging pace? </p>
                  <p>Tired of dreary metronome-backed percussion practice sessions?</p>
                  <p>&lt; If you can conjure up a third use case please free to shoot me an e-mail &gt;?</p>
                  <p>This is your chance to spice up those mundane routines a little, choose a BPM from the drop-down below to create playlists of songs from your saved tracks that lie within a reasonable range of your specified BPM. </p>

                <div class='login'>
                  <div class='login_fields'>
                    <div class='login_fields__submit'>
                        <form id = "bpm-form" class = "spotipy-form" action="" method="post" novalidate>
                            {{ bpm_form.hidden_tag() }}
                            <p>
                                {{ bpm_form.bpm() }}<br>
                            </p>
                            {{bpm_form.submit(id = "bpm_submit", onclick = "submit_handler()")}}
                        </form>
                    </div>
                  </div>
                </div>
                <div class='authent'>
                  <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/puff.svg'>
                  <p>Adding tracks...</p>
                </div>
                <p><em>Note: Saved tracks is a compilation of all the tracks you've pressed the heart icon on in the Spotify app. If you feel like you haven't saved enough tracks yet, come back when you have! </em></p>
                <!-- partial -->


                <!--<p id = "bpm_submit"> {{ bpm_form.submit() }}</p> --->
          </div>
        </div>
    </article>
  <article class="strips__strip">
    <div class="strip__content">
            <button class = "strip__close">
                <i class="fas fa-times fa-3x close-icon"></i>
            </button>
      <h1 class="strip__title" data-name="Ipsum">Top Tracks Playlist</h1>
      <div class="strip__inner-text">
        <h2>This section is under construction.</h2>

      </div>
    </div>
  </article>
</section>
<div class="footer">
    <p class="cp-text">
    &#9400; Copyright 2019 <a href="https://sanchitcop19.github.io">Sanchit Batra</a>
    </p>
</div>

<script>
var Expand = (function() {
  var tile = $('.strips__strip');
  var tileLink = $('.strips__strip > .strip__content');
  var tileText = tileLink.find('.strip__inner-text');
  var stripClose = $('.strip__close');
  var closeIconWrapper = $('.close-icon-wrapper')
  var expanded  = false;

  var open = function() {

    var tile = $(this).parent();

      if (!expanded) {
        tile.addClass('strips__strip--expanded');
        // add delay to inner text
        tileText.css('transition', 'all .1s .1s cubic-bezier(0.23, 1, 0.32, 1)');
        stripClose.addClass('strip__close--show');
        stripClose.css('transition', 'all 0.5s 0.5s cubic-bezier(0.23, 1, 0.32, 1)');
        closeIconWrapper.css('display', 'block');
        expanded = true;
      }
    };

  var close = function() {

      $(document).ready(function() {
          if (expanded) {
            $(".strips__strip--expanded").removeClass('strips__strip--expanded');
            tileText.css('transition', 'all 0.3s .05s cubic-bezier(0.23, 1, 0.32, 1)');
            $(".strip__close--show").removeClass('strip__close--show')
            stripClose.css('transition', 'all 0.01s 0s cubic-bezier(0.23, 1, 0.32, 1)')
            expanded = false;
          }
      });

  }

    var bindActions = function() {
      tileLink.on('click', open);
      stripClose.on('click', close);
    };

    var init = function() {
      bindActions();
    };

    return {
      init: init
    };

  }());

Expand.init();
        </script>


{% endblock %}
